<!DOCTYPE html>
<html>
    <head>
        <title>
            {{tituloPagina}}
        </title>
        <meta charset='utf-8' />
    </head>
    <body>
        {{> header}}
        <p>{{toUpper textoPagina}}</p>
        {{> footer}}
    </body>
</html>