<!DOCTYPE html>
<html>
    <head>
        <title>
            Página de Ajuda
        </title>
        <meta charset='utf-8' />
    </head>
    <body>
        {{> header}}
        <p>Esta é a página de ajuda.</p>
        {{> footer}}
    </body>
</html>